**/auto/**
\#*#
*/media/**
*.tmp
/common/reveal.js.zip
.~*#
*.aux
*.log
*.out
*.synctex.gz
*.toc
/fct/backups
/gestion-bd-asir1/evaluacion/ev3-practica-bancos/.gradletasknamecache
/sistemas-gestores-bbdd-asir2/evaluacion/ProbarOracleRemoto/.gradle
/sistemas-gestores-bbdd-asir2/evaluacion/ProbarOracleRemoto/.settings
backups-moodle
**/.gradle/
**/build/
**/.idea/
**/classes/
**/_region_.tex
/entornos-de-desarrollo-distancia/rosa/gift/qrcode.sty
/gestion-bd-asir1/evaluacion/ev-3-examen-colegio/log
/gestion-bd-asir1/evaluacion/ev-3-practica-plsqlbasico/log/
/gestion-bd-asir1/evaluacion/ev-3-examen-municipios/log/
/gestion-bd-asir1/evaluacion/examen-casados-divorciados/log
/sistemas-gestores-bbdd-asir2/examenes/asgbd-examen-evaluacion-extraordinaria-2019/logs
gestion-bd-asir1/evaluacion/ev-3-examen-municipios/busqueda-copias/
/fct/FCT.laccdb
/entornos-de-desarrollo-distancia/EntornosDeDesarrollo/examenes
*.atfi
/gestion-bd-asir1/evaluacion/ev-2-whatsapp/descomprimidos/*
/common/reveal.js-3.9.2.zip
/common/reveal.js-old/
/common/reveal.js.zip.old
/gestion-bd-asir1/evaluacion/ev-3-ejercicio-plsql-inicial/log
/coronavirus/copia_de_seguridad-moodle2-course-222-penbasesdatosdamavellaneda-20200311-1941-nu.mbz
/planificacion-administracion-redes-asir1/copia_de_seguridad-moodle2-course-189-gesbasdatavellaneda-20200525-0946-nu.mbz
/gestion-bd-asir1/evaluacion/ev-2-recuperacion/sierra.zip
/gestion-bd-asir1/evaluacion/ev-2-recuperacion/ayecaba.zip
/gestion-bd-asir1/evaluacion/ev-2-recuperacion/examen-recuperacion-gdb-ev2.zip
/gestion-bd-asir1/evaluacion/ev-2-recuperacion/garcia.zip
/gestion-bd-asir1/evaluacion/ev-2-recuperacion/hurtado.zip
/gestion-bd-asir1/evaluacion/ev-2-recuperacion/oliveira.zip
/gestion-bd-asir1/evaluacion/ev-2-recuperacion/passwords.org
/gestion-bd-asir1/evaluacion/ev-2-recuperacion/rosa.zip
/coronavirus/
/.notas.autosave.xopp
/entornos-de-desarrollo-distancia/rosa/evaluacion/tarea-01/retroalimentacion.zip
sistemas-gestores-bbdd-asir2/evaluacion/ev2-final/copia*
sistemas-gestores-bbdd-asir2/examenes/2021-examen-recuperacion2/copia-2021*
/.project
/gestion-bd-asir1/evaluacion/ev-3-practica-plsqlbasico-triggers/log/
/gestion-bd-asir1/examenes/2021-evaluacion3-parcial1/log/
/tirbunales/videos-curso-agto/*.mp4
/fct/2021-marzo/proyectos/proyectos/proyectoalbertojosyhctor-movil-vpn.MP4
/tirbunales/TRIBUNAL 1/
/gestion-bd-asir1/examenes/2022-pendientes/log/ultimo
/gestion-bd-asir1/examenes/2022-evaluacion2-parcial2/log/
/gestion-bd-asir1/examenes/2022-evaluacion2-final/repositorio/
/PMDM-distancia/ejemplolistiview/
/gestion-bd-asir1/examenes/2022-evaluacion3-parcial1/log/
log
logs
/PMDM-distancia/examenes/ExamenFinalVideos/
/PMDM-distancia/examenes/ExamenPMDMPendientes/ExamenProfesorNASA/.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
/PMDM-distancia/examenes/
log-sin-30
*_file
