# IP/dominio que usan los clientes VPN para conectarse (IP del host o publica)
# TODO: Un script debe cambiar esta IP a la real de la máquina dockerhost
WG_HOST=192.168.2.109
# Contrasena del panel web de WireGuard (http://IP_HOST:51821)
WG_PASSWORD=asir-vpn-2026
